h1{
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 300;
}


h2 
{
  color: #2e6da4;
  text-decoration: underline ; 
  font : 120% georgia, palatino, serif;
  font-style : italic;
}

#schemaFreq {
      width: 100%;
    }
   
  #schemaFreq .Block {
     padding: 10px;
     border-style: dotted;
     text-align: center;
     display: table-cell;
     vertical-align: middle;
  }
  
  #schemaFreq .Fleche {
    vertical-align: middle;
    display: table-cell;
   }


   .tableDataGenerales {
    font-family : Symbol, sans-serif;
    border-collapse: collapse;
  }
  #dataGenerale, #dataConditionsLogon {
    border-radius: 5px 5px 5px 5px;
    border-collapse: collapse;
       overflow: hidden;
       width: 50%;
  } 
 
  /*table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
  }*/

  .tableDataGenerales th {
    text-align: center;
    background-color: white;
    color: #7c7c7c;
    padding: 8px;
    font-weight: lighter;

  }
  .tableDataGenerales td {
    text-align: center;
    background-color: white;
    color: black;
   padding: 8px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }


.example-input-label,
.example-add-tab-button,
.example-delete-tab-button {
  margin: 8px;
}



.tabErreur{
  width: 50%;
  }
  .tabErreur th{
    color: #7c7c7c;
    text-align:center;
  }

  .tabErreur td{
    color: #439ceb;
    text-align:center;
  }

  /* 
  .tabErreur tr:hover {
    background: #777;
  }*/

  /* TODO : mettre en gras les titres de colonne !
  .tabErreur.tr.mat-header-row {
    font-weight: bold;
    font-size: 28px;
    color: tomato;
  }*/

.tabGen {
  width: 50%;
}


.tabDet {
    width: 80%;
  }
  .tabDet th{
    text-align:center;
  }

  .tabDet td{
    text-align:center;
  }

table {
    text-align: center;
 }



/* Mise en page du contenu des tableaux de logs*/
.log.th {
  text-align:center;
  width:30%;
  max-width:30%;
}

.log.td {
  text-align:left;
  width:30%;
  max-width:30%;
}

.dates{
  text-align:center;
}

.heure{
  text-align:center;
}

.etat{
  text-align:center;
}
/* Fin de mise en page du contenu des tableaux de logs*/