h1{
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 300;
}


h2 
{
  color: #2e6da4;
  text-decoration: underline ; 
  font : 120% georgia, palatino, serif;
  font-style : italic;
}

#schemaFreq {
      width: 100%;
    }
   
  #schemaFreq .Block {
     display: inline-block; 
     padding: 10px;
     border-style: dotted;
     justify-content: center;
     text-align: center;
  }
  
  #schemaFreq .Fleche {
    display: inline-block; 
    justify-content: center;
   }


   .tableDataGenerales {
    font-family : Symbol, sans-serif;
    border-collapse: collapse;
  }
  #dataGenerale, #dataConditionsLogon {
    border-radius: 5px 5px 5px 5px;
    border-collapse: collapse;
       overflow: hidden;
       width: 50%;
  } 
 
  /*table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
  }*/

  .tableDataGenerales th {
    text-align: center;
    background-color: white;
    color: #7c7c7c;
    padding: 8px;
    font-weight: lighter;

  }
  .tableDataGenerales td {
    text-align: center;
    background-color: white;
    color: black;
   padding: 8px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }


.example-input-label,
.example-add-tab-button,
.example-delete-tab-button {
  margin: 8px;
}



.tabErreur{
  width: 50%;
  }
  .tabErreur *{
    color: #439ceb;
    text-align:center;
  }

  .tabErreur tr:hover {
    background: #777;
  }

  /* TODO : mettre en gras les titres de colonne !
  .tabErreur.tr.mat-header-row {
    font-weight: bold;
    font-size: 28px;
    color: tomato;
  }*/

.tabGen {
  width: 50%;
}


.tabDet {
    width: 80%;
  }

table {
    text-align: center;
 }

 
 .timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

  .timeline:before {
      top: 0;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 3px;
      background-color: #eeeeee;
      left: 50%;
      margin-left: -1.5px;
  }

 ul {
      margin-bottom: 20px;
      position: relative;
  }

ul:before,
 ul:after {
          content: " ";
          display: table;
      }

 ul:after {
          clear: both;
      }


   .timeline-panel {
          width: 46%;
          float: left;
          border: 1px solid #d4d4d4;
          border-radius: 2px;
          padding: 20px;
          position: relative;
          -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      }
 .timeline-panel:before {
              position: absolute;
              top: 26px;
              right: -15px;
              display: inline-block;
              border-top: 15px solid transparent;
              border-left: 15px solid #ccc;
              border-right: 0 solid #ccc;
              border-bottom: 15px solid transparent;
              content: " ";
          }

.timeline-panel:after {
              position: absolute;
              top: 27px;
              right: -14px;
              display: inline-block;
              border-top: 14px solid transparent;
              border-left: 14px solid #fff;
              border-right: 0 solid #fff;
              border-bottom: 14px solid transparent;
              content: " ";
          }

   .timeline-badge {
          color: #fff;
          width: 50px;
          height: 50px;
          line-height: 50px;
          font-size: 1.4em;
          text-align: center;
          position: absolute;
          top: 16px;
          left: 50%;
          margin-left: -25px;
          background-color: #999999;
          z-index: 100;
          border-top-right-radius: 50%;
          border-top-left-radius: 50%;
          border-bottom-right-radius: 50%;
          border-bottom-left-radius: 50%;
      }

     i {
        display: center;
     }

      .timeline-inverted > .timeline-panel {
        float: right;
    }

        .timeline-inverted > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        .timeline-inverted > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }

        .timeline-not-inverted > .timeline-panel {
            text-align: right;
            
        }

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}


/* Mise en page du contenu des tableaux de logs*/
.log.th {
  text-align:center;
  width:30%;
  max-width:30%;
}

.log.td {
  text-align:left;
  width:30%;
  max-width:30%;
}

.dates{
  text-align:center;
}

.heure{
  text-align:center;
}

.etat{
  text-align:center;
}
/* Fin de mise en page du contenu des tableaux de logs*/