<mat-card>
    <mat-card-header>

        <mat-card-title>
            <mat-icon aria-hidden="false" aria-label="flight icon">flight</mat-icon>
            Vol
        </mat-card-title>
        <mat-card-subtitle>{{monvol.arcid}} {{monvol.plnid}}</mat-card-subtitle>
    </mat-card-header>

    <p>
        section-formulaire-visualisation works!
    </p>




    <mat-card-content>

        <div class="isAnalysed">
            <div> conditionsLogon: {{monvol.conditionsLogon}}</div>

            <div>adrModeSInf: {{monvol.adrModeSInf}}</div>
            <div>adrDeposee: {{monvol.adrDeposee}}</div>
            <div>cmpAdrModeS: {{monvol.cmpAdrModeS}}</div>

            <div>Adep: {{monvol.adep}}</div>
            <div>cmpAdep: {{monvol.cmpAdep}}</div>

            <div>Ades: {{monvol.ades}}</div>
            <div>cmpAdes: {{monvol.cmpAdes}}</div>

            <div>Arcid: {{monvol.arcid}}</div>
            <div>cmpArcid: {{monvol.cmpArcid}}</div>

            <div>equipementCpdlc: {{monvol.equipementCpdlc}}</div>

            <div>logonInitie: {{monvol.logonInitie}}</div>
            <div>logonAccepte: {{monvol.logonAccepte}}</div>


        </div>
    </mat-card-content>

    <mat-card-content>
        <div >
            <mat-tab-group>
                <mat-tab label="Lpln" *ngIf="isLpln">



                    <div>
                        <table mat-table [dataSource]="monvol.getListeVolLpln()" class="tabDet ">



                            <!-- Colonne date -->
                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef class="dates th"> Date </th>
                                <td mat-cell *matCellDef="let element" class="dates td"> {{element.jour}} </td>
                            </ng-container>

                            <!-- Colonne heure -->
                            <ng-container matColumnDef="heure">
                                <th mat-header-cell *matHeaderCellDef class="heure th"> Heure </th>
                                <td mat-cell *matCellDef="let element" class="heure td"> {{element.heure}} </td>
                            </ng-container>

                            <!-- Colonne title -->
                            <ng-container matColumnDef="log">
                                <th mat-header-cell *matHeaderCellDef class="log th"> Log </th>
                                <td mat-cell *matCellDef="let element" class="log td"> {{element.log}} </td>
                            </ng-container>


                            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

                            <!-- Colonne Donnee  -->
                            <ng-container matColumnDef="etat">
                                <th mat-header-cell *matHeaderCellDef class="etat th"> Etat </th>
                                <td mat-cell *matCellDef="let element" class="etat td"> {{element.etat}} </td>
                            </ng-container>

                            <!-- Colonne Valeur -->
                            <ng-container matColumnDef="valeur">
                                <th mat-header-cell *matHeaderCellDef> Valeur </th>
                                <td mat-cell *matCellDef="let element"> {{element.detailLog}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsDet"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsDet;"></tr>
                        </table>
                    </div>
                </mat-tab>
                <mat-tab label="Vemgsa" *ngIf="isVemgsa">


                    <div>
                        <table mat-table [dataSource]="monvol.getListeVolVemgsa()" class="tabDet ">




                            <!-- Colonne date -->
                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef> Date </th>
                                <td mat-cell *matCellDef="let element"> {{element.jour}} </td>
                            </ng-container>

                            <!-- Colonne heure -->
                            <ng-container matColumnDef="heure">
                                <th mat-header-cell *matHeaderCellDef> Heure </th>
                                <td mat-cell *matCellDef="let element"> {{element.heure}} </td>
                            </ng-container>

                            <!-- Colonne title -->
                            <ng-container matColumnDef="log">
                                <th mat-header-cell *matHeaderCellDef class="log th"> Log </th>
                                <td mat-cell *matCellDef="let element" class="log td"> {{element.log}} </td>
                            </ng-container>
                            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

                            <!-- Colonne Donnee  -->
                            <ng-container matColumnDef="etat">
                                <th mat-header-cell *matHeaderCellDef class="etat th"> Etat </th>
                                <td mat-cell *matCellDef="let element" class="etat td"> {{element.etat}} </td>
                            </ng-container>

                            <!-- Colonne Valeur -->
                            <ng-container matColumnDef="valeur">
                                <th mat-header-cell *matHeaderCellDef> Valeur </th>
                                <td mat-cell *matCellDef="let element"> {{element.detailLog}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsDet"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsDet;"></tr>
                        </table>
                    </div>
                </mat-tab>

                <mat-tab label="Mix" *ngIf="isMix">


                    <br>
                    <div>

                        <table mat-table [dataSource]="dataGenerale" class="tabGen">

                            <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

                            <!-- Colonne Donnee  -->
                            <ng-container matColumnDef="donnee">
                                <th mat-header-cell *matHeaderCellDef> Donnee </th>
                                <td mat-cell *matCellDef="let element"> {{element.plnid}} </td>
                            </ng-container>

                            <!-- Colonne Valeur -->
                            <ng-container matColumnDef="valeur">
                                <th mat-header-cell *matHeaderCellDef> Valeur </th>
                                <td mat-cell *matCellDef="let element"> {{element.arcid}} </td>
                            </ng-container>

                            <!-- Colonne Valeur -->
                            <ng-container matColumnDef="adrModeSInf">
                                <th mat-header-cell *matHeaderCellDef> adrModeSInf </th>
                                <td mat-cell *matCellDef="let element"> {{element.adrModeSInf}} </td>
                            </ng-container>

                            <!-- Colonne Valeur -->
                            <ng-container matColumnDef="adrDeposee">
                                <th mat-header-cell *matHeaderCellDef> adrDeposee </th>
                                <td mat-cell *matCellDef="let element"> {{element.adrDeposee}} </td>
                            </ng-container>

                            <!-- Colonne Valeur -->
                            <ng-container matColumnDef="equipementCpdlc">
                                <th mat-header-cell *matHeaderCellDef> equipementCpdlc </th>
                                <td mat-cell *matCellDef="let element"> {{element.equipementCpdlc}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsGen"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsGen;"></tr>
                        </table>

                    </div>

                    <br>
                    <div>
                        <table mat-table [dataSource]="monvol.getListeVolMix()" class="tabDet ">


                            <!-- Colonne title -->
                            <ng-container matColumnDef="log">
                                <th mat-header-cell *matHeaderCellDef> Log </th>
                                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                            </ng-container>

                            <!-- Colonne etat -->
                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef> Date </th>
                                <td mat-cell *matCellDef="let element"> {{element.jour}} </td>
                            </ng-container>

                            <!-- Colonne heure -->
                            <ng-container matColumnDef="heure">
                                <th mat-header-cell *matHeaderCellDef> Heure </th>
                                <td mat-cell *matCellDef="let element"> {{element.heure}} </td>
                            </ng-container>
                            <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

                            <!-- Colonne Donnee  -->
                            <ng-container matColumnDef="etat">
                                <th mat-header-cell *matHeaderCellDef> Etat </th>
                                <td mat-cell *matCellDef="let element"> {{element.etat}} </td>
                            </ng-container>

                            <!-- Colonne Valeur -->
                            <ng-container matColumnDef="valeur">
                                <th mat-header-cell *matHeaderCellDef> Valeur </th>
                                <td mat-cell *matCellDef="let element"> {{element.detailLog}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsDet"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsDet;"></tr>
                        </table>
                    </div>







                    <div class="container">
                        <div class="page-header">
                            <h1 id="timeline">Timeline</h1>
                        </div>
                        <ul class="timeline">
                            <li *ngFor="let entry of dataDetailMix">
                                <ul class="timeline-not-inverted" *ngIf="isPositionated(entry.id) != true">
                                    <div class="timeline-badge info"><i class="glyphicon glyphicon-star-empty"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title"> {{entry.title}} </h4>
                                            <p><small class="text-muted"> {{entry.id}} </small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>{{entrytitle}} </p>
                                        </div>
                                    </div>
                                </ul>
                                <ul class="timeline-inverted" *ngIf="isPositionated(entry.id) == true">
                                    <div class="timeline-badge success"><i class="glyphicon glyphicon-floppy-disk"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title"> {{entry.title}} </h4>
                                            <p><small class="text-muted"> {{entry.id}} </small></p>
                                        </div>
                                        <div class="timeline-body">
                                            <p> {{entry.title}} </p>
                                        </div>
                                    </div>
                                </ul>
                            </li>


                        </ul>
                    </div>
                </mat-tab>

            </mat-tab-group>
        </div>
    </mat-card-content>

</mat-card>