<mat-card>
    <mat-card-header>

        <mat-card-title>
            <mat-icon aria-hidden="false" aria-label="flight icon">flight</mat-icon>
            Vol
        </mat-card-title>
        <mat-card-subtitle>{{monvol.getArcid()}} {{monvol.getPlnid()}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <!-- TODO !!!!! afficher differement la timeline si pas de logon ou de connexion -->

        <!-- TODO afficher les input Data : id choisi, nom des fichiers-->

        <mat-tab-group>
            <!--ONGLET SYNTHESE - TIMELINE  -->
            <mat-tab>
                <ng-template matTabLabel>
                    <span matBadge="{{monvol.getListeErreurs().length}}" matBadgeOverlap="false" matBadgeColor="warn">Synthèse</span>
                </ng-template>

                <ng-template matTabContent>
                    <div *ngIf="monvol.getListeErreurs().length !== 0">
                        <h2>
                            Tableau des erreurs
                        </h2>
                        <table mat-table [dataSource]="monvol.getListeErreurs()" class="tabErreur">

                            <!-- Position Column -->
                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef> date </th>
                                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef> type d'erreur </th>
                                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="explication">
                                <th mat-header-cell *matHeaderCellDef> explication </th>
                                <td mat-cell *matCellDef="let element"> {{element.infos}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsErreurs"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsErreurs;"></tr>
                        </table>
                    </div>
                    <div *ngIf="monvol.getLogonAccepte()">
                        <h2>
                            Timeline fréquence
                        </h2>

                        <app-timeline-lineaire [listeEtatLogonConnexion]="getListeEtatLogonConnexion()"
                            [listeEtatTransfertFrequence]="getListeEtatTransfertFrequence()">
                        </app-timeline-lineaire>
                    </div>

                    <div *ngIf="monvol.getLogonAccepte()">
                        <h2>
                            Timeline logon/connexion
                        </h2>
                        <app-timeline [listeEtatLogonConnexion]="getListeEtatLogonConnexion()"></app-timeline>
                    </div>
                </ng-template>
            </mat-tab>
            <!--FIN ONGLET SYNTHESE - TIMELINE  -->
            <!--ONGLET INFO GENERALES  -->
            <mat-tab label="Infos Générales">
                <div class="isAnalysed">
                    <mat-card>
                        <mat-card-content>
                            <h2 class="h2">Fichiers en entrée</h2>

                            <div>
                                <ul *ngIf="isLpln">
                                    <li>Fichier LPLN
                                        <ul> <img src="assets/images/file.png" />{{monvol.getInputData().lplnfilename}}</ul>
                                    </li>
                                </ul>
                                <ul *ngIf="isVemgsa">
                                    <li>Fichier VEMGSA
                                        <ul *ngFor="let fichier of monvol.getInputData().vemgsafilename"><img src="assets/images/file.png" />{{fichier}}</ul>
                                    </li>
                                </ul>
                            </div>
                            <h2 class="h2">Données Générales du vol</h2>

                            <div>
                                <table id="dataGenerale" class="tableDataGenerales">
                                    <tr>
                                        <th>plnid</th>
                                        <th>arcid</th>
                                        <th>equipementCpdlc</th>
                                        <th>IslogCpdlcComplete</th>
                                    </tr>
                                    <tr>
                                        <td>{{monvol.getPlnid()}}</td>
                                        <td>{{monvol.getArcid()}}</td>
                                        <td>{{monvol.getEquipementCpdlc()}}</td>
                                        <td>{{monvol.getIslogCpdlcComplete()}}</td>
                                    </tr>

                                </table>

                            </div>
                            <br>
                            <h2>Comparaison des données plan de vol et reçues pas Datalink</h2>



                            <p>
                                Conditions de Logon Remplies :
                                <img *ngIf="monvol.getConditionsLogon()" src="assets/images/uncheck1.png" />
                                <img *ngIf="!monvol.getConditionsLogon()" src="assets/images/check1.png" />
                            </p>


                            <table id="dataConditionsLogon" class="tableDataGenerales">
                                <tr>
                                    <th>cmpArcid</th>
                                    <th>cmpAdrModeS</th>
                                    <th>cmpAdep</th>
                                    <th>cmpAdes</th>
                                </tr>
                                <tr>
                                    <td>{{monvol.getCmpArcid()}}</td>
                                    <td>{{monvol.getCmpAdrModeS()}}</td>
                                    <td>{{monvol.getCmpAdep()}}</td>
                                    <td>{{monvol.getCmpAdes()}}</td>
                                </tr>
                                <tr>
                                    <td>{{monvol.getArcid()}}</td>
                                    <td>{{monvol.getadrModeSInf()}} - {{monvol.getadrDeposee()}}</td>
                                    <td>{{monvol.getAdep()}}</td>
                                    <td>{{monvol.getAdes()}}</td>
                                </tr>

                            </table>

                            <br>


                            <table id="etatLogon" class="tableDataGenerales">
                                <tr>
                                    <th>etat</th>
                                    <th>result</th>
                                </tr>
                                <tr>
                                    <td>LogonInitie</td>
                                    <td>
                                        <img *ngIf="monvol.getLogonInitie()" src="assets/images/uncheck1.png" />
                                        <img *ngIf="!monvol.getLogonInitie()" src="assets/images/check1.png" />
                                    </td>
                                </tr>
                                <td>LogonAccepte</td>
                                <td>
                                    <img *ngIf="monvol.getLogonAccepte()" src="assets/images/uncheck1.png" />
                                    <img *ngIf="!monvol.getLogonAccepte()" src="assets/images/check1.png" />
                                </td>
                                <tr>
                                    <td>HaslogCpdlc</td>
                                    <td>
                                        <img *ngIf="monvol.getHaslogCpdlc()" src="assets/images/uncheck1.png" />
                                        <img *ngIf="!monvol.getHaslogCpdlc()" src="assets/images/check1.png" />
                                    </td>
                                </tr>

                            </table>

                        </mat-card-content>
                    </mat-card>

                    <mat-card class="result">
                        <mat-card-content>
                            <div class="test_etats_frequence">
                                <div class="test_etats_frequence">
                                    <h2 id="test_etats_frequence">test_etats_frequence_lpln</h2>
                                </div>

                                <div id="schemaFreq" *ngFor="let entry of monvol.getListeEtatTransfertFrequenceModifie(); let index = index; ">
                                    <h2>Transfert N° {{index+1}} </h2>

                                    <div id="transfertFreq" class="Block">
                                        <!--icone -->
                                        <img src="assets/images/eclair.png" />
                                        <!--message sous icone -->
                                        <p>Transfert de fréquence</p>
                                        <p *ngIf="(entry.frequence !== undefined) && (entry.positionTransfert == undefined)">
                                            {{entry.frequence}}
                                        </p>
                                        <p *ngIf="(entry.frequence == undefined) && (entry.positionTransfert !== undefined)">
                                            vers
                                            {{entry.positionTransfert}}</p>
                                        <p *ngIf="(entry.frequence !== undefined) && (entry.positionTransfert !== undefined)">
                                            {{entry.frequence}} vers {{entry.positionTransfert}}
                                        </p>
                                        <!--Heure sous message -->
                                        <p>H: {{entry.dateTransfert}} </p>

                                    </div>

                                    <div class="Fleche" *ngIf="entry.isFinTRFDL">
                                        <img src="assets/images/fleche2.png" />
                                    </div>
                                    <div id="finTRFDL" *ngIf="entry.isFinTRFDL" class="Block">
                                        <img src="assets/images/casque2.png" />
                                        <p> Timeout</p>
                                        <p> Retour à la voix obligatoire </p>
                                        <p>H: {{entry.dateFinTRFDL}} </p>
                                    </div>

                                    <div class="Fleche" *ngIf="entry.isTRARTV">
                                        <img src="assets/images/fleche2.png" />
                                    </div>
                                    <div id="TRARTV" *ngIf="entry.isTRARTV" class="Block">
                                        <img src="assets/images/micro.png" />
                                        <p>Retour à la voix effectué </p>
                                        <p>H: {{entry.dateTRARTV}} </p>
                                    </div>

                                    <div class="Fleche" *ngIf="entry.isTransfertAcq">
                                        <img src="assets/images/fleche2.png" />
                                    </div>
                                    <div id="transfertAcq" *ngIf="entry.isTransfertAcq" class="Block">
                                        <img src="assets/images/check.png" />
                                        <p> Transfert acquitté </p>
                                        <p> par le pilote </p>
                                        <p>H: {{entry.dateTranfertAcq}} </p>
                                    </div>
                                </div>


                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-tab>
            <!--FIN ONGLET INFOS GENERALES -->
            <!--ONGLET LOGS LPLN  -->
            <mat-tab label="Lpln" *ngIf="isLpln">
                <div>
                    <table mat-table [dataSource]="monvol.getListeVolLpln()" class="tabDet ">

                        <!-- Colonne date -->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef class="dates th"> Date </th>
                            <td mat-cell *matCellDef="let element" class="dates td"> {{element.jour}} </td>
                        </ng-container>

                        <!-- Colonne heure -->
                        <ng-container matColumnDef="heure">
                            <th mat-header-cell *matHeaderCellDef class="heure th"> Heure </th>
                            <td mat-cell *matCellDef="let element" class="heure td"> {{element.heure}} </td>
                        </ng-container>

                        <!-- Colonne title -->
                        <ng-container matColumnDef="log">
                            <th mat-header-cell *matHeaderCellDef class="log th"> Log </th>
                            <td mat-cell *matCellDef="let element" class="log td"> {{element.log}} </td>
                        </ng-container>

                        <!-- Colonne Donnee  -->
                        <ng-container matColumnDef="etat">
                            <th mat-header-cell *matHeaderCellDef class="etat th"> Etat </th>
                            <td mat-cell *matCellDef="let element" class="etat td"> {{element.etat}} </td>
                        </ng-container>

                        <!-- Colonne Valeur -->
                        <ng-container matColumnDef="valeur">
                            <th mat-header-cell *matHeaderCellDef> Valeur </th>
                            <td mat-cell *matCellDef="let element"> {{element.explication}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsDet"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsDet;"></tr>
                    </table>
                </div>
            </mat-tab>
            <!--FIN ONGLET LOGS LPLN  -->
            <!--ONGLET LOGS VEMGSA  -->
            <mat-tab label="Vemgsa" *ngIf="isVemgsa">
                <div>
                    <table mat-table [dataSource]="monvol.getListeVolVemgsa()" class="tabDet ">
                        <!-- Colonne date -->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef class="dates th"> Date </th>
                            <td mat-cell *matCellDef="let element" class="dates td"> {{element.jour}} </td>
                        </ng-container>

                        <!-- Colonne heure -->
                        <ng-container matColumnDef="heure">
                            <th mat-header-cell *matHeaderCellDef class="heure th"> Heure </th>
                            <td mat-cell *matCellDef="let element" class="heure td"> {{element.heure}} </td>
                        </ng-container>

                        <!-- Colonne title -->
                        <ng-container matColumnDef="log">
                            <th mat-header-cell *matHeaderCellDef class="log th"> Log </th>
                            <td mat-cell *matCellDef="let element" class="log td"> {{element.log}} </td>
                        </ng-container>
                        <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

                        <!-- Colonne Donnee  -->
                        <ng-container matColumnDef="etat">
                            <th mat-header-cell *matHeaderCellDef class="etat th">Etat de la Comm CPDLC </th>
                            <td mat-cell *matCellDef="let element" class="etat td"> {{element.etat}} </td>
                        </ng-container>

                        <!-- Colonne Valeur -->
                        <ng-container matColumnDef="valeur">
                            <th mat-header-cell *matHeaderCellDef> Action CPDLC </th>
                            <td mat-cell *matCellDef="let element"> {{element.explication}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsDet"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsDet;"></tr>
                    </table>
                </div>
            </mat-tab>
            <!--FIN ONGLET LOGS VEMGSA  -->
            <!--ONGLET LOGS MIX  -->

            <mat-tab label="Mix" *ngIf="isMix">


                <br>
                <div>
                    <table mat-table [dataSource]="monvol.getListeVolMix()" class="tabDet ">


                        <!-- Colonne title -->
                        <ng-container matColumnDef="log">
                            <th mat-header-cell *matHeaderCellDef class="log th"> Log </th>
                            <td mat-cell *matCellDef="let element" class="log td"> {{element.log}} </td>
                        </ng-container>

                        <!-- Colonne etat -->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef class="dates th"> Date </th>
                            <td mat-cell *matCellDef="let element" class="dates td"> {{element.jour}} </td>
                        </ng-container>

                        <!-- Colonne heure -->
                        <ng-container matColumnDef="heure">
                            <th mat-header-cell *matHeaderCellDef class="heure th"> Heure </th>
                            <td mat-cell *matCellDef="let element" class="heure td"> {{element.heure}} </td>
                        </ng-container>

                        <!-- Colonne Donnee  -->
                        <ng-container matColumnDef="etat">
                            <th mat-header-cell *matHeaderCellDef class="etat th"> Etat de la Comm CPDLC </th>
                            <td mat-cell *matCellDef="let element" class="etat td"> {{element.etat}} </td>
                        </ng-container>

                        <!-- Colonne Valeur -->
                        <ng-container matColumnDef="valeur">
                            <th mat-header-cell *matHeaderCellDef>Action CPDLC </th>
                            <td mat-cell *matCellDef="let element"> {{element.explication}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsDet"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsDet;"></tr>
                    </table>
                </div>







                <div class="container">
                    <div class="page-header">
                        <h1 id="timeline">Timeline</h1>
                    </div>
                    <ul class="timeline">
                        <li *ngFor="let entry of monvol.getListeVolMix()">
                            <ul class="timeline-not-inverted" *ngIf="isPositionated(entry.id) != true">
                                <div class="timeline-badge info"><i class="glyphicon glyphicon-star-empty"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title"> {{entry.title}} </h4>
                                        <p><small class="text-muted"> {{entry.id}} </small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>{{entry.title}} </p>
                                    </div>
                                </div>
                            </ul>
                            <ul class="timeline-inverted" *ngIf="isPositionated(entry.id) == true">
                                <div class="timeline-badge success"><i class="glyphicon glyphicon-floppy-disk"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title"> {{entry.title}} </h4>
                                        <p><small class="text-muted"> {{entry.id}} </small></p>
                                    </div>
                                    <div class="timeline-body">
                                        <p> {{entry.title}} </p>
                                    </div>
                                </div>
                            </ul>
                        </li>


                    </ul>
                </div>
            </mat-tab>
            <!--FIN ONGLET LOGS MIX  -->

        </mat-tab-group>

    </mat-card-content>

</mat-card>