<div class="bouton">
    <p><input type="button" value="Envoyer un message au serveur" /></p>
  </div>
  
  <!-- chargement des fichiers -->
  <form action="/ma-page-de-traitement">
    <div>
        <label for="inputFileVemgsa">Sélectionner le fichier Vemgsa a traiter </label>
        <input #vemgsaForm (change)="updateSelectedVemgsa(vemgsaForm.files[0])"type="file"/>
    </div>
    <div>
        <label for="inputFileLpln">Sélectionner le fichier Lpln a traiter</label>
        <input #lplnForm (change)="updateSelectedLpln(lplnForm.files[0])" type="file" />
    </div>
    <div>
        <label for="arcid">arcid :</label>
        <input type="text" />
    </div>
    <div>
        <label for="plnid">plnid :</label>
        <input type="text" />
    </div>
  </form>
<button mat-raised-button color="primary" [class.uploadingButton]="isUploading" [disabled]="!isUploadEnable" (click)="uploadFiles()">{{isUploading ? 'Uploading...' : 'Upload'}}</button>


<button mat-raised-button color="primary"  (click)="analyseFiles()">"analyse"</button>



  
  <h4>liste plnid</h4>
  <mat-form-field>
    <mat-select placeholder="plnid" [(ngModel)]="selectedValue" name="plnid"  [disabled]="!isAnalyseEnable" >
      <mat-option *ngFor="let vol of listeVols" [value]="vol.plnid">
        {{vol.plnid}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p> Selected plnid: {{selectedValue}} </p>


  