
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }
  .example-card {
    max-width: 400px;
  }
  .card-datalink {
    max-width: 400px;
  }