#documentation
{
    width:100%;
    overflow:auto
   }

   #documentation #menu {
  float:left;
  width:24%;
  border-right-style: dotted;
 }
 
 #documentation #content {
  margin-left:26%;
 }

  #documentation #divider {
  width:23%;
  margin-right: 10px;
  margin-left: 10px;
 }

