#documentation
{
    width:100%;
    overflow:auto;
    display: table;
   }

   #documentation #menu {
  width:24%;
  border-right-style: dotted;
  display: table-cell;
 }
 
 #documentation #content {
    display: table-cell;
    padding-left: 25px;
 }

  #documentation #divider {
  width:23%;
  margin-right: 10px;
  margin-left: 10px;
 }


 
h3 
{
  color: #2e6da4;
  text-decoration: underline ; 
  font : 120% georgia, palatino, serif;
  font-style : italic;
}

h2
{
  color: #2e6da4;
  font : 120% georgia, palatino, serif;
  font-style : italic;
}