mat-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  mat-list-item  {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  mat-list-item:hover:not(.active) {
    background-color: #3F51B5;
    color:white;
    opacity: 0.7;
  }
 
  .active {
    background-color: #3F51B5;
    color:white;

}
  mat-list-item button {
    position: absolute;
    right: 10px;
  }
