<app-header></app-header>
<app-navbar></app-navbar>



<!--<ul>
    <li><a class="active"  routerLink="/accueil" routerLinkActive="active">Accueil</a></li>
    <li><a  routerLink="/formulaire" routerLinkActive="active">Formulaire</a></li>
    <li><a routerLink="/item3" routerLinkActive="active"> Item 3</a></li>
  </ul>
 -->
 
      <mat-list>
       <mat-list-item class="sidenav-section" routerLink="/accueil" routerLinkActive="active">Accueil</mat-list-item> 
          <mat-divider></mat-divider>
          <mat-list-item class="sidenav-section" routerLink="/formulaire" routerLinkActive="active">Formulaire</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="sidenav-section" routerLink="/item3" routerLinkActive="active"> Item 3</mat-list-item>
          <mat-divider></mat-divider> 
        </mat-list>
        


<div class="page-principale">
    <router-outlet></router-outlet>
  </div>



<app-footer></app-footer>



