<app-header></app-header>
<app-navbar></app-navbar>


<mat-sidenav-container class="sidenav" >
  <mat-sidenav mode="side" opened >
      <mat-list>
          <mat-list-item class="sidenav-section"(click)=navigateToAccueil()>Accueil</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="sidenav-section"(click)=navigateToFormulaire()>Formulaire</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="sidenav-section">Item 3</mat-list-item>
          <mat-divider></mat-divider>
   
        </mat-list>
        


  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



<app-footer></app-footer>



