/**
button {
    background-color: yellow;
}



.uploadingButton {
     background-color: red;
}

*/


h2 
{
  color: #2e6da4;
  text-decoration: underline ; 
  font : 120% georgia, palatino, serif;
  font-style : italic;
}
#msg1,#msg2{
  color : grey;
  font : 100% georgia, palatino, serif;
}

#tabIdVol{
  margin-right: 5px;
}
#idBoutons
{
  width:100%;
  margin-top: 30px;
}
#listeIdEtMsg
{
    width:100%;
    overflow:auto
   }


 #listeIdEtMsg #msglplnVemgsa {
  float:left;
  width:40%;
  border-right-style: dotted;
 }

 #listeIdEtMsg #listeId {
 margin-left:42%;
}



table {
  width: 100%;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .formFile{
    padding: 20px;
  }

  .formHeader{
    background-color: gainsboro;
  }

  .formButton{
    text-align:center;
  }
 
  mat-radio-button{
    margin: 8px 8px;
  }

  button{
  margin-right: 8px;
}