/**
button {
    background-color: yellow;
}



.uploadingButton {
     background-color: red;
}

*/

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .formFile{
    padding: 20px;
  }

  .formHeader{
    background-color: gainsboro;
  }

  .formButton{
    text-align:center;
  }
 
  mat-radio-button{
    margin: 8px 8px;
  }

  button{
  margin-right: 8px;
}