<mat-card>


  <mat-card-header>

    <mat-card-title>
      <mat-icon aria-hidden="false" aria-label="assignment icon">assignment</mat-icon>
      Formulaire Datalink
    </mat-card-title>
    <mat-card-subtitle>A remplir</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>


    <mat-horizontal-stepper [linear]="true" labelPosition="bottom" #stepper>

      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">

          <ng-template matStepLabel>
            <mat-icon>insert_drive_file</mat-icon>
            Sélection des fichiers à traiter
          </ng-template>
          <div class="formHeader">
            <label for="inputFileVemgsa">Fichier(s) Vemgsa</label>
          </div>
          <div class="formFile">
            <input type="file" required multiple #vemgsaFile (change)="updateSelectedVemgsa(vemgsaFile.files)" />
          </div>
          <div class="formHeader">

            <label for="inputFileLpln">Fichier Lpln</label>
          </div>
          <div class="formFile">
            <input type="file" #lplnFile (change)="updateSelectedLpln(lplnFile.files[0])" />
          </div>
          <div *ngIf="!isFichier">
            Champ obligatoire !
          </div>
          <div *ngIf="isFileSelected" class="formButton">
            <button mat-stroked-button
              (click)="lplnFile.value = '';vemgsaFile.value = ''; initFormulaire();stepper.reset()">Reset</button>
            <button mat-stroked-button color="primary" matStepperNext (click)="uploadFiles()">Next</button>
          </div>
        </form>
      </mat-step>


      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>
            <mat-icon>fingerprint</mat-icon>
            Identifiant du vol
          </ng-template>
          <div>
            <label>Type d'identifiant</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
              [(ngModel)]="identifiantSelectionne" [ngModelOptions]="{standalone: true}">
              <mat-radio-button *ngFor="let id of identifiants" [value]="id">
                {{id}}
              </mat-radio-button>
            </mat-radio-group>

          </div>
          <div *ngIf="isPlnid">
            <mat-form-field>
              <input matInput placeholder="Rentrez l'identifiant plnid" [formControl]="plnid" required>
              <mat-error *ngIf="plnid.invalid">{{getErrorMessagePlnid()}}</mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field *ngIf="isArcid">
              <input matInput placeholder="Rentrez l'identifiant arcid" [formControl]="arcid" required>
              <mat-error *ngIf="arcid.invalid">{{getErrorMessageArcid()}}</mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="arcid.invalid && plnid.invalid" class="formButton">
            <button mat-stroked-button matStepperPrevious>Back</button>
            <button mat-stroked-button color="primary"
              (click)="lplnFile.value = '';vemgsaFile.value = ''; initFormulaire();stepper.reset()">Reset</button>
          </div>
          <div *ngIf="!(arcid.invalid && plnid.invalid)" class="formButton">
            <button mat-stroked-button matStepperPrevious>Back</button>
            <button mat-stroked-button
              (click)="lplnFile.value = '';vemgsaFile.value = ''; initFormulaire();stepper.reset()">Reset</button>
            <button mat-stroked-button color="primary" matStepperNext (click)="analyseDataInput()">Next</button>

          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>
          <mat-icon>send</mat-icon>
          Validation des données
        </ng-template>


        <div *ngIf="isHorairesVemgsaMultiple">
          <label>Message VEMGSA : {{getMessageVEMGSA()}} </label>
          <label>Choisissez l'horaire correspondant au vol étudié</label>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            [(ngModel)]="chosenHoraire">
            <mat-radio-button class="example-radio-button" *ngFor="let horaire of GetHoraires()" [value]="horaire">
              {{horaire.dateMin}} {{horaire.dateMax}}
            </mat-radio-button>
          </mat-radio-group>
          <div>L'horaire choisi est : {{chosenHoraire.dateMin}} {{chosenHoraire.dateMax}}</div>
          <div  class="formButton">
          <button mat-stroked-button matStepperPrevious>Back</button>
          <button mat-stroked-button
            (click)="lplnFile.value = '';vemgsaFile.value = ''; initFormulaire();stepper.reset()">Reset</button>
    
            <button *ngIf="isHoraireChosen" mat-stroked-button color="primary"  (click)="analyseDataInput()">Next</button>
          </div>
        </div>

        <div *ngIf="!isHorairesVemgsaMultiple ">
          <div *ngIf="isCheckOK">
            <label>Vol Trouve : {{getArcidTrouve()}} {{getPlnidTrouve()}} </label>
          </div>

          <div *ngIf="isVEMGSA">
            <label>Message VEMGSA : {{getMessageVEMGSA()}} </label>

          </div>


          <div *ngIf="isLPLN">
            <label>Message LPLN : {{getMessageLPLN()}} </label>

          </div>
          <div class="formButton">
              <button mat-stroked-button matStepperPrevious>Back</button>
              <button mat-stroked-button color="primary"
                (click)="lplnFile.value = '';vemgsaFile.value = ''; initFormulaire();stepper.reset()">Reset</button>
              <button *ngIf="isCheckOK " mat-stroked-button color="accent" (click)=analyseFiles()>Analyse</button>
  
            </div>

        </div>


      </mat-step>
    </mat-horizontal-stepper>

  </mat-card-content>
</mat-card>